<configuration>

    <appender name="Chii2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/chii2.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>chii2-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 10MB -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} [%level] %logger{50} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="OSGi" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/platform.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>platform-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 10MB -->
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss} [%level] %logger{50} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.chii2" level="debug" additivity="false">
        <appender-ref ref="Chii2"/>
    </logger>

    <logger name="org.apache.http" level="debug" additivity="false">
        <appender-ref ref="OSGi"/>
    </logger>

    <root level="warn">
        <appender-ref ref="OSGi"/>
    </root>

</configuration>